#main-contact{
    background: rgba(233, 228, 228, 0.199);
}

.form-cust{
    background: rgba(233, 228, 228, 0.199);
}

.portimage{
    margin: 20px auto 20px auto;
    height: 50px;
    width: 75px;
    object-fit: cover;
    /* cursor: pointer; */
}