#main-contact{
    background: rgba(233, 228, 228, 0.199);
}

.form-cust{
    background: rgba(233, 228, 228, 0.199);
}
.p-img-div{
    min-width: 225px;
    min-height: 150px;
    max-width: 225px;
    max-height: 150px;
    border: 0.5px solid black;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
}


.portimage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}    

.portimage, .view-destroyer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.view-destroyer{
    display: none;
    z-index: 1;
}